{% extends 'base.html' %}

{% block content %}
<h2>{{todo.title}}</h2>
<div>
    <h4>List created on: {{todo.date}}</h4>
    <h4>{{todo.person}} will complete these tasks today!</h4>
    <ul>
        {% for item in todo.items.all %}
        <li><a href="{% url 'item_update' pk=item.pk %}">{{ item.task }}</a>
            <form action="{% url 'item_delete' pk=item.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove {{item.task}}">
            </form>
        <br/> </li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'item_create' %}">add task</a>

{% endblock %}
